{% extends 'base.html.twig' %}

{% block title %}Ajout de film{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Film</h1>

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Annee</th>
                    <th>Genre</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for film in films %}
                <tr>
                    <td>{{ film.id }}</td>
                    <td>{{ film.Titre }}</td>
                    <td>{{ film.Description }}</td>
                    <td>{{ film.Annee }}</td>
                    <td>{{ film.Genre }}</td>
                    <td><img src="{{ film.Image }}" alt="{{ film.Titre }}" class="img-thumbnail" width="100"></td>
                    <td>
                        <a href="{{ path('app_film_show', {'id': film.id}) }}" class="btn btn-primary btn-sm">Show</a>
                        <a href="{{ path('app_film_edit', {'id': film.id}) }}" class="btn btn-secondary btn-sm">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_film_new') }}" class="btn btn-success">Nouveau film</a>
    </div>
{% endblock %}
