{% extends 'base.html.twig' %}

{% block title %}Ajout de film{% endblock %}

{% block body %}
    <h1>Film</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Annee</th>
                <th>Genre</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.Titre }}</td>
                <td>{{ film.Description }}</td>
                <td>{{ film.Annee }}</td>
                <td>{{ film.Genre }}</td>
                <td>{{ film.Image }}</td>
                <td>
                    <a href="{{ path('app_film_show', {'id': film.id}) }}">show</a>
                    <a href="{{ path('app_film_edit', {'id': film.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_film_new') }}">Nouveau film</a>
{% endblock %}
