{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}
    <div class="bg-gradient-to-r from-black via-gray-800 to-gray-500 min-h-screen flex items-center justify-center">
        <div class="container mx-auto mt-5 p-5 bg-white shadow-lg rounded-lg">
            <h1 class="text-2xl font-bold mb-4 text-center">Film</h1>

            <table class="min-w-full bg-white">
                <tbody>
                    {% if film is defined %}
                        <tr>
                            <th class="py-2">Id</th>
                            <td class="py-2">{{ film.id }}</td>
                        </tr>
                        <tr>
                            <th class="py-2">Titre</th>
                            <td class="py-2">{{ film.Titre }}</td>
                        </tr>
                        <tr>
                            <th class="py-2">Description</th>
                            <td class="py-2">{{ film.Description }}</td>
                        </tr>
                        <tr>
                            <th class="py-2">Année</th>
                            <td class="py-2">{{ film.Annee }}</td>
                        </tr>
                        <tr>
                            <th class="py-2">Genre</th>
                            <td class="py-2">{{ film.Genre }}</td>
                        </tr>
                        <tr>
                            <th class="py-2">Image</th>
                            <td class="py-2"><img src="{{ film.Image }}" alt="{{ film.Titre }}" class="img-thumbnail w-24"></td>
                        </tr>
                    {% elseif movie is defined %}
                        <tr>
                            <th class="py-2">Titre</th>
                            <td class="py-2">{{ movie.Title }}</td>
                        </tr>
                        <tr>
                            <th class="py-2">Année</th>
                            <td class="py-2">{{ movie.Year }}</td>
                        </tr>
                        <tr>
                            <th class="py-2">Genre</th>
                            <td class="py-2">{{ movie.Genre }}</td>
                        </tr>
                        <tr>
                            <th class="py-2">Réalisateur</th>
                            <td class="py-2">{{ movie.Director }}</td>
                        </tr>
                        <tr>
                            <th class="py-2">Acteurs</th>
                            <td class="py-2">{{ movie.Actors }}</td>
                        </tr>
                        <tr>
                            <th class="py-2">Résumé</th>
                            <td class="py-2">{{ movie.Plot }}</td>
                        </tr>
                        <tr>
                            <th class="py-2">Affiche</th>
                            <td class="py-2"><img src="{{ movie.Poster }}" alt="Affiche du film" class="img-thumbnail w-24"></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

            <div class="text-center mt-4">
                <a href="{{ path('app_film_index') }}" class="bg-bleu-500 text-white px-4 py-2 rounded">Retour à la liste</a>
                {% if film is defined %}
                    <a href="{{ path('app_film_edit', {'id': film.id}) }}" class="bg-blue-500 text-white px-4 py-2 rounded">Modifier</a>
                    {{ include('film/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

